<div class="w-full px-16 py-8">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl border-l-4 border-blue-500">映画リスト</h1>
    <%= link_to '新規作成', new_movie_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="movies" class="min-w-full flex mt-6 gap-x-8 gap-y-6">
    <% @movies.each do |movie| %>
      <%= render 'card', :movie => movie %>
    <% end %>
    <%#= render @movies %>
  </div>
</div>
