<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @movie %>

    <%= link_to '編集', edit_movie_path(@movie), class: "btn-primary" %>
    <div class="inline-block ml-2">
      <%= button_to '消去', movie_path(@movie), method: :delete, class: "btn bg-red-200" %>
    </div>
    <%= link_to '映画に戻る', movies_path, class: "btn-ghost hover:bg-blue-100" %>
  </div>
</div>
