@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type]:not([type="checkbox"]) {
        @apply rounded-lg text-sm px-4 py-3 disabled:opacity-75;
    }
}

@layer components {
    .btn {
        @apply py-3 px-4 focus:outline cursor-pointer rounded-lg disabled:opacity-75;
    }
}

@layer utilities {
    .btn-primary {
        @apply btn bg-blue-500 text-white hover:bg-blue-600;
    }

    .btn-contrast {
        @apply btn bg-slate-800 text-white hover:bg-slate-900;
    }

    .btn-ghost {
        @apply btn hover:bg-slate-100;
    }

    .btn-outline {
        @apply btn py-[10px] px-[14px] border-2 bg-white text-blue-500 hover:bg-blue-500 hover:text-white border-blue-500;
    }
}
