<div id="<%= dom_id category %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">文章:</strong>
    <%= category.text %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "見せる", category, class: "btn btn-secondary" %>
    <%= link_to '編集', edit_category_path(category), class: "btn btn-primary" %>
    <hr class="mt-6">
  <% end %>
</div>
